#tela_login_cadastro {
    margin: 0;

    font-family: 'Inter', sans-serif;

    background-color: #6DB5D1;
}

#tela_login_cadastro header{
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

#tela_login_cadastro header a {
    margin: 0 auto;
    
    color: #87ceeb;
    font-family: 'Dancing Script', cursive;
    font-size: max(4vw, 40px);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

#login {
    width: 40vw;
    height: 53.3vw;

    min-width: 300px;
    min-height: 400px;
}

#cadastro {
    width: 40vw;
    height: 73.3vw;

    min-width: 300px;
    min-height: 550px;
}

#esqueceu_senha {
    width: 40vw;
    height: 40vw;

    min-width: 300px;
    min-height: 300px;
}

.login_cadastro {
    margin: 64px auto;

    overflow: hidden;   

    background-color: #ffffff;
}

.login_cadastro h4 {
    margin-top: max(4.53vw, 34px);
    margin-bottom: 0;

    color: #3c4858;
    font-size: max(2vw, 20px);
    font-weight: 600;
    text-align: center;
}

.login_cadastro form {
    margin-top: max(4.53vw, 34px);
    margin-bottom: 0;
}

.login_cadastro form label {
    margin-left: 8.3%;
    display: block;

    color: #3c4858;
    font-size: max(1.3vw, 13px);
    font-weight: 400;
}

.login_cadastro form input {
    margin: max(1.2vw, 9px) auto;
    display: block;
    
    width: 83.3%;
    height: max(2.4vw, 24px);

    font-size: max(1.1vw, 11px);

    border: 1px solid #e0e6ed;
    border-radius: 3px;
    padding: 0;

    background-color: #ffffff;
    color: #3c4858;
}

.login_cadastro form button {
    margin: max(3.6vw, 27px) auto 0;
    display: block;

    width: 42.7%;
    height: max(2.4vw, 24px);

    border: 1px solid #60a8c4;
    border-radius: 3px;
    padding: 0;

    background-color: #60a8c4;
    color: #ffffff;
    font-size: max(1.3vw, 13px);
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.login_cadastro form button:hover {
    cursor: pointer;
}

.login_cadastro p {
    margin: max(1.2vw, 9px) auto;

    color: #000;
    font-size: max(1.3vw, 13px);
    font-weight: 400;
    text-align: center;
}

.login_cadastro button {
    margin: 0 auto;
    display: block;

    width: 42.7%;
    height: max(2.4vw, 24px);

    border: 1px solid #60a8c4;
    border-radius: 3px;
    padding: 0;

    background-color: #ffffff;
    color: #60a8c4;
    font-size: max(1.3vw, 13px);
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.login_cadastro button a {
    margin: 0 auto;
    color: #60a8c4;
    font-size: max(1.3vw, 13px);
    font-weight: 300;
    text-align: center;
    text-decoration: none;
}

.login_cadastro button:hover {
    cursor: pointer;
    transition: 300ms;
    
    background-color: #60a8c4;
    color: #fff;
}

.login_cadastro button:hover a {
    transition: 300ms;
    
    color: #fff;
    text-decoration: none;
}

.login_cadastro a {
    margin: max(4.8vw, 36px) auto 0;
    display: block;

    color: #60a8c4;
    font-size: max(1.1vw, 11px);
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.login_cadastro a:hover {
    text-decoration: underline;
}