<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Esqueceu-se da senha?</title>
    </head>
    <body id="tela_login_cadastro">
        <header>
            <a href="/">Article Library</a>
        </header>

        <div id="esqueceu_senha" class="login_cadastro">
            <h4>Esqueceu-se da senha?</h4>
            <form action="/" method="POST">
                <div class="input-wrapper">
                    <label for="email">Endereço de email</label>
                    <input type="email" name="email">
                </div>

                <button>Redefinir senha</button>
            </form>
            <a href="/">Retroceder</a>
        </div>
    </body>
</html>