<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
        <title>Tela principal</title>
    </head>
    <body id="tela_principal">
        <header>
            <a href="/">Article Library</a>
            <button>Perfil</button>
        </header>

        <main>
            <div id="sidebar">
                <form id="file_loader_form" action="/principal" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file_loader" name="file"/>
                </form>
                
                <button id="file_loader_button" onclick="loadFile()"><p>+ Novo Arquivo</p></button>
                
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/3655/3655544.png" alt="Imagem de livros">
                    <p>Todas as referências</p>
                </button>
                
                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/896/896442.png" alt="Imagem de relógio">
                    <p>Adicionados recentemente</p>
                </button>

                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/2377/2377872.png" alt="Imagem de bookmark">
                    <p>Lidos recentemente</p>
                </button>

                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/2377/2377878.png" alt="Imagem de estrela">
                    <p>Favoritos</p>
                </button>

                <button>
                    <img src="https://cdn-icons-png.flaticon.com/512/4021/4021546.png" alt="Imagem de lixeira">
                    <p>Lixeira</p>
                </button>

                <p>COLEÇÕES</p>
                <ul>
                    <li><button><p>coleção 1</p></button></li>
                    <li><button><p>coleção 2</p></button></li>
                    <li><button><p>coleção 3</p></button></li>
                </ul>

                <p>GRUPOS</p>
                <ul>
                    <li><button><p>grupo 1</p></button></li>
                    <li><button><p>grupo 2</p></button></li>
                    <li><button><p>grupo 3</p></button></li>
                </ul>
            </div>

            <div id="conteudo">
                <div id="subheader">
                    <p>Todas as referências</p>

                    <button>
                        <img src="https://cdn-icons-png.flaticon.com/512/2015/2015241.png" alt="Imagem de lupa">
                        <p>Procurar</p>
                    </button>
                </div>

                <table>
                    <tr>
                      <th class="table_checkbox"><div class="checkbox"></div></th>
                      <th class="table_estrela"><img src="https://cdn-icons-png.flaticon.com/512/2377/2377878.png" alt="Imagem de estrela"></th>
                      <th class="table_titulo"><p>Título</p></th>
                      <th class="table_modificacao">Última modificação</th>
                      <th class="table_download">Download</th>
                    </tr>
                    {% for entrada in entradas %}
                    <tr>
                      <td class="table_checkbox"><div class="checkbox"></div></td>
                      <td class="table_estrela"><img src="https://cdn-icons-png.flaticon.com/512/2377/2377878.png" alt="Imagem de estrela"></td>
                      <td class="table_titulo"><p>{{entrada.nome_arquivo}}</p></td>
                      <td class="table_modificacao">{{entrada.ultima_modificacao}}</td>
                      <td class="table_download"><img src="https://cdn-icons-png.flaticon.com/512/4321/4321162.png" alt="Imagem de download"></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
        <script src="/scripts.js"></script>
    </body>
</html>